/* CSS declarations go here */
p {
	font-family: verdana;
}

@media (max-width: 767px) {
        /* Enable use of floated navbar text */
        .navbar-text.pull-right {
          float: none;
          padding-left: 5px;
          padding-right: 5px;
        }
}

input#message
{
	width: 72%;
}

input#name
{
	width: 22%;
}

div#localVideo
{
	float: left;
}

div#remoteVideos
{
	float: left;
	background-color: red;
}

div#messages
{
	float: bottom;
	clear:both;
}

div#entryfield
{
//	float: right;
}